.header {
  height: 100vh;
  width: auto !important;
  box-shadow: none !important;
}

.headerToolbar {
  display: flex;
  flex-direction: column;
}

.headerToolbarLinks {
  color: #fff;
}

.headerToolbarLinksBtn {
  margin: 0 !important;
}